<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
crossorigin="anonymous">
<title>Document</title>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/projects">  Projects</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">  

        <li class="nav-item">
          <a class="nav-link" href="/projects/edit/<%=project.id %>">  Project Edit</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/projects/edit/<%=project.id %>/wicked">  Wicked Problems</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/projects/edit/<%=project.id %>/fishbone">  Fishbone/Ishikawa Diagram</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/projects/edit/<%=project.id %>/STM">  Spatio Temporal Matrix</a>
        </li>
      

        <li class="nav-item">
            <a class="nav-link" href="/projects/edit/<%=project.id %>/stakeholders">  Stakeholders Map</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/projects/edit/<%=project.id %>/futurevision">  Future Vision Diagram</a>
      </li>    
    
    </ul>

    </div>    
</nav>
   

